body {
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
 
.nav {
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.nav-edit {
    position: relative;
}

#popup-add {
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 1;
}

.title {
    height: 36px;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    font-weight: bold;
    & input {
        font-weight: bold;
        font-size: 25px;
    }
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    & .table-add {
        text-align: left;
    }
}

.tooltip-text {
    visibility: hidden;
    font-size: small;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 2px 6px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover + .tooltip-text {
    visibility: visible;
    transition-delay: 1s;
}

.data-input, .data-view {
    padding: 10px;
    text-align: left;
}

.data-input input[type="number"] {
    text-align: right;
    width: 50px;
}

.data-input.table {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    padding-left: 4px;
    padding-right: 4px;
}
.btn-browse {
    width: 200px;
    padding: 20px;
    font-size: 16px;
}
.btn-nav {
    color: black;
    font-size: 30px;
}
.btn-nav:hover, .btn-table:hover{
    color: grey;
}
.btn-popup {
    width: 80px;
}
.btn-table {
    font-size: 20px;
}

.nutrition {
    width: 290px;
    text-align: left;
    font-size: 14px;

    & h2 {
        font-size: 40px;
        margin: 0px;
    }

    & input[type="number"] {
        text-align: right;
        width: 45px;
    }

    & .right {
        float: right;
    }

    & .divider.thin {
        border: 1px solid lightgrey;
    }
    & .divider.medium {
        border: 4px solid black;
    }
    & .divider.thick {
        border: 8px solid black;
    }

    & .main-category .label{
        font-weight: bold
        
    }

    & .sub-category {
        padding-left: 30px;
    }

    & .value {
        padding-left: 5px;
    }

    & .serving-size {
        font-weight: bold;
        font-size: 16px;

        & input[type="number"] {
            font-weight: bold;
            font-size: 15px;
        }

        & input[type="text"] {
            font-weight: bold;
            font-size: 15px;
            width: 100px;
        }
    }

    & .calories {
        font-weight: bold;
        font-size: 16px;

        & .label {
            font-size: 32px;
        }

        & .value {
            font-size: 36px;
        }

        & input[type="number"] {
            font-weight: bold;
            font-size: 32px;
            width: 80px;
        }
    }

    & .added-sugars {
        padding-left: 60px;
    }
}

.release-info {
    padding-top: 30vh;
    text-align: left;
}